.Perceptron_header_logo{
    margin-top: 2rem;
    font-family: 'Press Start 2P', cursive;
}
.Perceptron_header_button{
    margin: 2rem 0;
}
.Perceptron_footer_logo{
    margin-bottom: 2rem;
    font-family: 'Press Start 2P', cursive;
}
.Perceptron_footer_button{
    margin: 2rem 0;
}